doctype html
html(ng-app="myApp")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous")
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js')
	body(ng-controller='SearchController')
		.container
			.row.col-md-10.col-md-offset-1.col-sm-12.col-xs-12(style="padding:20px")
				.col-md-12
					.col-md-9.col-md-offset-1
						form.form-inline(ng-submit='search()')
							.form-group
								input.form-control(type='text', ng-model='searchText', ng-change='searchChanged()', ,='', placeholder='Search Sticker', required)
							.form-group
								button.btn.btn-primary(type='submit') Submit
			.row(style="margin-top:20px", ng-if="result.count")
				.col-md-12
					table.table
						thead
							tr
								th
								th Title
								th Additional Tags
								th Typos
								th
						tbody
							tr(ng-repeat='sticker in result.docs')
								td {{$index + 1}}
								td {{sticker.title}}
								td {{sticker.additionalTags}}
								td {{sticker.typos}}
								
		script(src='app.js')